.slogan-container {
  padding: 1em 0 2em 0;
  background: #d9eaf1;
}

.slogan {
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
  width: 38.2vw;
  color: #163f4f;
}

.slogan::after {
  content: '';
  display: block;
  width: 4.5em;
  margin: 0.5em auto 0 auto;
  border-bottom: #163f4f solid 0.375rem;
}

.lists {
  display: flex;
  width: 100%;
  padding: 2em 4.375em;
  justify-content: space-between;
  align-items: center;
  background: #d9eaf1;
}
